includes:
    - phpstan-ambient.neon
    - ../../../../mnt/storagebox2-coding/raw/WCF-6.2/phpstan-ambient.neon

parameters:
    bootstrapFiles:
        - phpstan-bootstrap.php

    level: 6
    paths:
        - files
    scanDirectories:
        - ../../../../mnt/storagebox2-coding/templates/php/wsc6.2/
    excludePaths:
        analyse:
            - ../../../../mnt/storagebox2-coding/templates/php/wsc6.2/lib/system/api/
    ignoreErrors:
        - identifier: match.unhandled
        - identifier: method.unused
        - identifier: new.static
        - identifier: trait.unused 
